.jnq-modal-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(55, 55, 55, 0.6);
  height: 100%;
  z-index: 1000;
}
.jnq-modal {
  z-index: 9999;
  position: fixed;
  background: #fff;
  top: 40%;
  left: 50%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
}
.jnq-modal-h {
  width: 100%;
  height: 32px;
  background: #1b6aaa;
  position: relative;
  left: 0;
  top: 0;
}
.jnq-modal-h h3 {
  width: 100%;
  height: 100%;
  color: #fff;
  line-height: 32px;
  text-align: left;
  padding-left: 10px;
  cursor: move;
  font-size: 20px;
}
.jnq-modal-h button {
  width: 21px;
  height: 21px;
  line-height: 19px;
  position: absolute;
  right: 10px;
  top: 5px;
  color: #000;
  border-radius: 15px;
  cursor: pointer;
  border: 0;
  outline: 0;
}
.jnq-modal-c {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}
.jnq-modal-c .jnq-modal-message {
  height: 52px;
  line-height: 52px;
}
.jnq-modal-f {
  width: 100%;
}
.jnq-modal-f button {
  padding: 6px 12px;
  margin: 4px 20px;
  border: none;
  color: #fff;
  border-radius: 2px;
  background: #1b6aaa;
  font-size: 12px;
}
